body {
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

* {
    box-sizing: border-box;
}

.green {
    color: #43a047;
}

.simple-block {
    background-color: rgb(235, 180, 189);
    color: #000;
}

.main-bg {
    background-color: khaki;
}

.bg {
    background-color: hotpink;
}

.gold {
    color: gold;
}

.empty {
    height: 100px;
}

form {
    max-width: 200px;
}

input {
    margin: 10px 0;
}

#colourSelector {
    display: flex;
    margin: 0 auto;
    max-width: 500px;
}

.colour-item {
    height: 50px;
    width: 50px;
    margin: 10px 20px;
    border: 1px solid #000;
    border-radius: 50%;
}

.white {
    background-color: #fff;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.pink {
    background-color: pink;
}

#test {
    max-width: 300px;
    height: 50px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    color: #8010cf;
    background-color: #d6cdcd;
}

.selected {
    border: 2px dashed #d81b60;
    padding: 5px;
    margin: 2px 0;
}

.menu {
    width: 600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.menu-list {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.menu-list a {
    text-transform: uppercase;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px 10px;
    background-color: #df7ca0;
    margin-bottom: 30px;
}

.cards-item {
    flex: 0 0 18%;
    text-align: center;
}

#poke {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    text-transform: uppercase;
}

.gallery {
    margin: 10px auto;
    padding: 40px 10px;
    width: 700px;
    background-color: aquamarine;
}

.gallery__show {
    text-align: center;
    height: 1000px;
}

.gallery__big {
    margin-bottom: 30px;
}

.gallery__small {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gallery__small img {
    width: 24%;
}